<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @order.first_name %>
</p>

<p>
  <b>Last name:</b>
  <%= @order.last_name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Address line two:</b>
  <%= @order.address_line_two %>
</p>

<p>
  <b>City:</b>
  <%= @order.city %>
</p>

<p>
  <b>State:</b>
  <%= @order.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @order.zip %>
</p>

<p>
  <b>Height:</b>
  <%= @order.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @order.weight %>
</p>

<p>
  <b>Chest:</b>
  <%= @order.chest %>
</p>

<p>
  <b>Arms:</b>
  <%= @order.arms %>
</p>

<p>
  <b>Bust:</b>
  <%= @order.bust %>
</p>

<p>
  <b>Waist:</b>
  <%= @order.waist %>
</p>

<p>
  <b>Hips:</b>
  <%= @order.hips %>
</p>

<p>
  <b>Inseam:</b>
  <%= @order.inseam %>
</p>

<p>
  <b>Outseam:</b>
  <%= @order.outseam %>
</p>

<p>
  <b>Arm circumference:</b>
  <%= @order.arm_circumference %>
</p>

<p>
  <b>Leg circumference:</b>
  <%= @order.leg_circumference %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
